.icon > svg, .icon img {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle; }
.icon > svg path, .icon img path {
    fill: #828282; }

h1 {
    font-size: 20pt;
}

h2 {
    font-size: 18pt;
}

h3 {
    font-size: 15pt;
}

body {
    margin-top: 15px;
}

ol.list-unstyled {
    padding-left: 40px;
}

ol.list-unstyled li {
    list-style: decimal outside;
    display: list-item;
}

html {
    font-size: 14px;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 16px;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 20px;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 28px;
    }
}
